---
title: Jeremy Neander
openGraphType: website
---

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">

    {% set pageTitle = title %}
    {% if title != 'Jeremy Neander' %}
      {% set pageTitle = title + ' | Jeremy Neander' %}
    {% endif %}

    {% if description %}
      {% set pageDescription = description %}
    {% else %}
      {% set pageDescription = global.description %}
    {% endif %}

    <title>{{ pageTitle }}</title>

    <meta name="author" content="Jeremy Neander">
    <meta name="description" content="{{ pageDescription }}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageDescription }}">
    <meta property="og:type" content="{{ openGraphType }}">
    <meta property="og:url" content="{{ page.url | absoluteUrl(global.url) }}">
    <meta property="og:image" content="{{ global.openGraph.image.url }}">
    <meta property="og:image:alt" content="{{ global.openGraph.image.alt }}">
    <meta property="og:image:width" content="{{ global.openGraph.image.width }}">
    <meta property="og:image:height" content="{{ global.openGraph.image.height }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:site" content="@jeremyneander">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ pageDescription }}">
    <meta name="twitter:image" content="{{ global.openGraph.image.url }}">

    <link rel=alternate title="Jeremy Neander" type=application/atom+xml href="/feed.xml">

    <link href="/styles/main.css" rel="stylesheet">

    {% if css %}
      {% for link in css %}
         <link href="{{link}}" rel="stylesheet">
      {% endfor %}
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body class="no-transition">
    {% include 'header.njk' %}

    {{ content | safe }}

    {% include 'footer.njk' %}

    <script>
      document.body.classList.remove("no-transition");

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
