.CompanyList {
  padding: 0px;
  list-style: none;
}

.CompanyRoleList {
  padding-inline-start: 1em;
  list-style: none;
}

.SkillList {
  display: inline;
  list-style: none;
  padding: 0;

  & > * {
    display: inline;

    &:after {
      content: ', ';
    }

    &:last-child:after {
      content: '';
    }
  }
}
