@use '../../../../styles/foundation/settings';

.Post {
  .Header {
    margin-bottom: 1rem;

    .Title {
      line-height: 1em;
    }

    .PublishDate {
      font: settings.$header-font;
    }
  }
}

.Pagination {
  --chevron-size: 0.4em;
  --chevron-thickness: 0.0875em;

  display: flex;

  .Previous:before,
  .Next:after {
    border-style: solid;
    border-width: var(--chevron-thickness) var(--chevron-thickness) 0 0;
    content: '';

    display: inline-flex;
    justify-items: start;

    transform: rotate(45deg);

    height: var(--chevron-size);
    width: var(--chevron-size);

    position: relative;
    top: -0.125em;

    margin-inline: 0.5em;
  }

  .Previous:before {
    transform: rotate(-135deg);
  }

  .Next {
    margin-inline-start: auto;
  }
}
