<h1>Overview</h1>

<h2>Positions</h2>

<ul class="Overview__List">
  <li>
    <span class="spacer"><i class="fa fa-angle-right"></i></span>

    <a href="https://www.instructure.com">Instructure</a> ~ Educational Technology Company

    <ul>
      <li>
        <span class="spacer"><i class="fa fa-angle-right"></i></span>
        Senior Software Engineer, August 2018–Present
      </li>

      <li>
        <span class="spacer"><i class="fa fa-angle-right"></i></span>
        Software Engineer, March 2016–August 2018
      </li>
    </ul>
  </li>

  <li>
    <span class="spacer"><i class="fa fa-angle-right"></i></span>

    <a href="https://www.8thlight.com">8th Light</a> ~ Software Development Consultancy

    <ul>
      <li>
        <span class="spacer"><i class="fa fa-angle-right"></i></span>
        Software Crafter, December 2012–February 2016
      </li>

      <li>
        <span class="spacer"><i class="fa fa-angle-right"></i></span>
        Software Apprentice, June 2012–December 2012
      </li>
    </ul>
  </li>
</ul>

<h2>Languages</h2>
<span class="spacer"><i class="fa fa-angle-right"></i></span>
<ul class="comma-list">
  <li class="comma-list-item">JavaScript</li>
  <li class="comma-list-item">Node.js</li>
  <li class="comma-list-item">Ruby</li>
  <li class="comma-list-item">Clojure</li>
  <li class="comma-list-item">Java</li>
  <li class="comma-list-item">Python</li>
  <li class="comma-list-item">C</li>
  <li class="comma-list-item">Go</li>
</ul>

<h2>Libraries, Frameworks, and SDKs</h2>
<span class="spacer"><i class="fa fa-angle-right"></i></span>
<ul class="comma-list">
  <li class="comma-list-item">React</li>
  <li class="comma-list-item">Webpack</li>
  <li class="comma-list-item">InstUI</li>
  <li class="comma-list-item">Redux</li>
  <li class="comma-list-item">Rails</li>
  <li class="comma-list-item">Sinatra</li>
  <li class="comma-list-item">Android</li>
</ul>

<h2>APIs</h2>
<span class="spacer"><i class="fa fa-angle-right"></i></span>
<ul class="comma-list">
  <li class="comma-list-item">Goodreads</li>
  <li class="comma-list-item">Canvas LMS</li>
  <li class="comma-list-item">Amazon (Product Advertising, S3)</li>
</ul>

<h2>Practices</h2>
<span class="spacer"><i class="fa fa-angle-right"></i></span>
<ul class="comma-list">
  <li class="comma-list-item">BDD/TDD</li>
  <li class="comma-list-item">Clean Code</li>
  <li class="comma-list-item">Agile</li>
</ul>
