@use '../properties';

main > header {
  font-family: properties.get-value('base', 'fontFamily', 'secondary');

  display: flex;
  align-items: baseline;
  gap: properties.get-value('base', 'spacing', 'xs', 'rem');
  justify-content: space-between;
}
