@use '../properties';

.WritingListItem {
  .Title {
    color: properties.get-value('element', 'a', 'color');
    font-size: properties.get-value('element', 'h3', 'fontSize');
    margin: 0;
  }

  .Description {
    margin-block: properties.get-value('base', 'spacing', 'xs', 'em');
  }

  .PublishDate {
    font-size: properties.get-value('base', 'fontSize', 'small');
    font-style: italic;
  }
}
