---
layout: full
---

<div class="slim-container post">
  <header>
    <h1 class="title">{{ page.title }}</h1>
    <span class="publish-date">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</span>
  </header>

  <article>
    {{ content }}
  </article>

  <section id="pagination">
    {% if page.previous %} 
      <a id="last" href="{{ page.previous.url }}">< {{ page.previous.title }}</a> 
    {% else %}
      <a id="last">&nbsp;</a>
    {% endif %}
    {% if page.next %}
      <a id="next" href="{{ page.next.url }}">{{ page.next.title }} ></a> 
    {% else %}
      <a id="next">&nbsp;</a>
    {% endif %}
  </section>
</div>
