---
permalink: "/writing/"
layout: slim
group: writing
title: "Writing"
---

<div class="writing-list-item">
  <a href="http://blog.8thlight.com/jeremy-neander/2013/01/21/an-apprentices-community.html"
    target="_blank" class="title">An Apprentice's Community</a>
  <span class="date">January 21, 2013</span>
  <p class="description">Musings on the path of an aspiring software developer</p>
</div>

{% for post in site.posts %}
<div class="writing-list-item">
  <a class="title" href="{{ post.url }}">{{ post.title }}</a>
  <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
  {% if post.description %}
  <p class="description">{{ post.description }}</p>
  {% endif %}
</div>
{% endfor %}
