---
permalink: "/writing/"
layout: slim
group: writing
title: "Writing"
---

<h1 class="visually-hidden">Blog Posts</h1>

<div class="writing-list-item">
  <div class="title">
    <a href="https://8thlight.com/insights/an-apprentices-community" target="_blank">
      An Apprentice's Community
    </a>
  </div>

  <span class="date">January 21, 2013</span>

  <p class="description">Musings on the path of an aspiring software developer</p>
</div>

{% for post in site.posts %}
<div class="writing-list-item">
  <div class="title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </div>

  <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>

  {% if post.description %}
  <p class="description">{{ post.description }}</p>
  {% endif %}
</div>
{% endfor %}
