@use '../foundation/settings';

.site-header {
  background: settings.$primary-color;
  font-family: settings.$header-font-family;
  font-weight: settings.$light;

  .container {
    margin: 0 auto;
    max-width: settings.$header-width;
  }

  .site-title {
    color: settings.$white;
    display: inline-block;
    font-weight: settings.$regular;
    margin: 0 0 1rem 0;

    @media #{settings.$medium} {
      margin: 0;
    }
  }

  a {
    display: inline;
    color: settings.$primary-accent;
    font-size: 0.9em;
    margin: 0;

    &:focus {
      outline-color: settings.$primary-accent;
      text-decoration: none;
    }

    &:hover,
    &.current {
      color: settings.$white;
    }
  }

  nav {
    @media #{settings.$medium} {
      float: right;
    }

    a:not(:last-child) {
      margin-inline-end: 2em;
    }
  }
}
