.Overview__List {
  padding-left: 0;

  &,
  ul,
  li {
    list-style: none;
  }

  ul {
    padding-left: 1em;
  }
}

.comma-list {
  display: inline;
  list-style: none;
  padding-left: 0;

  .comma-list-item {
    display: inline;
  }

  .comma-list-item:after {
    content: ', ';
  }

  .comma-list-item:last-child:after {
    content: '';
  }
}
