@use '../foundation/mixins';
@use '../foundation/settings';

.post {
  header {
    margin-bottom: 1rem;

    .title {
      line-height: 1em;
    }

    .publish-date {
      font: settings.$header-font;
    }
  }
}

#pagination {
  @include mixins.clearfix;

  #last {
    float: left;
  }

  #next {
    float: right;
  }
}
