@use '../foundation/settings';

.writing-list-item {
  border-bottom: 1px solid settings.$light-gray;
  padding: 1rem 0;

  &:last-child {
    border-bottom: none;
  }

  .title {
    display: block;
    font: settings.$header-font;
    font-size: 1.25em;
    font-weight: settings.$bold;
    margin-bottom: 0.25rem;
  }

  .date {
    display: block;
    font: settings.$header-font;
    font-size: 0.8em;
    margin-bottom: 0.75rem;
  }

  .description {
    margin: 0;
  }
}
