---
import BaseLayout from '../layouts/base-layout.astro'
---

<BaseLayout title="Not Found">
  <main class="content-grid flow">
    <h1>Page Not Found</h1>

    <p>This page seems to be missing. It's probably something I did.</p>
  </main>
</BaseLayout>
