---
import {Picture} from 'astro:assets'

import avatar from '../assets/images/avatar-large.png'
import Link from '../components/link.astro'
import {author} from '../constants'
import BaseLayout from '../layouts/base-layout.astro'
---

<BaseLayout title="Jeremy Neander">
  <main class="content-grid full">
    <div class="breakout">
      <div class="AvatarContainer">
        <Picture
          alt="Cartoon portrait of Jeremy Neander, commissioned from artist Brad Yoo"
          formats={['avif', 'webp']}
          height={280}
          src={avatar}
          width={280}
        />

        <!-- Zero size SVG to take up zero space when CSS is unavailable -->
        <svg
          aria-hidden
          fill="none"
          height="0"
          viewBox="0 0 280 280"
          width="0"
          xmlns="http://www.w3.org/2000/svg"
        >
          <clipPath id="avatar-clip-path" clipPathUnits="objectBoundingBox">
            <path
              d="M0.0857143 0.585714H0V0H1V0.585714H0.914286C0.914286 0.814518 0.728804 1 0.5 1C0.271196 1 0.0857143 0.814518 0.0857143 0.585714Z"
            ></path>
          </clipPath>
          <circle cx="140" cy="164" r="116" fill="currentColor"></circle>
        </svg>
      </div>

      <p class="Greeting">
        <span>Hello there! I'm Jeremy,</span>

        <span>
          <strong>Full-stack developer</strong> and enthusiastic <em>collaborator</em> with a passion
          for accessibility.
        </span>
      </p>
    </div>

    <div class="Intro flow full breakout-max content-grid">
      <p>
        I've been a software engineer for over 12 years, and in that time, I've worked on some
        exciting and challenging projects, on and off the web. I've been privileged to work with
        countless wonderful people, teaming up to achieve amazing things together.
      </p>

      <p>
        I'm a life-long student, continuously seeking to learn and improve myself. My main focus
        these days is on expanding my abilities, creating career opportunities, and connecting with
        people with shared interests.
      </p>

      <p>
        When I'm not writing code, I'm usually reading, writing, gardening, or spending time with my
        family. I'm also always on the lookout for new rubber duckies to add to my collection.
      </p>
    </div>

    <div class="Cta breakout">
      <p>
        Interested in working together? <Link href={`mailto:${author.email}`}
          >Send me a message!</Link
        >
      </p>
    </div>
  </main>
</BaseLayout>

<style lang="scss">
  @use '../styles/properties';
  @use '../styles/utilities';

  main {
    & > div:first-of-type {
      display: flex;
      flex-wrap: wrap;
      gap: properties.get-value('base', 'spacing', 'xxxl', 'px')
        properties.get-value('base', 'spacing', 'xxl', 'px');
      justify-content: center;

      padding-block: #{utilities.clampRemap(
          (
            'minWidth': 480,
            'maxWidth': 800,
            'minSize': 0,
            'maxSize': 64,
            'usePx': true,
          )
        )};

      margin-block-end: properties.get-value('base', 'spacing', 'xxxl', 'px');
    }
  }

  .AvatarContainer {
    --avatar-size: #{utilities.clampRemap(
        (
          'minWidth': 320,
          'maxWidth': 480,
          'minSize': 180,
          'maxSize': 280,
        )
      )};

    aspect-ratio: 1;
    height: var(--avatar-size);

    position: relative;

    clip-path: url('#avatar-clip-path');

    :global(picture, img) {
      aspect-ratio: 1;
      height: 100%;
    }

    svg {
      width: var(--avatar-size);
      height: var(--avatar-size);
      position: absolute;
      inset: 0;
      color: properties.get-value('base', 'color', 'secondary-2');
      z-index: -1; // Layer behind avatar
    }
  }

  .Greeting {
    font-family: properties.get-value('base', 'fontFamily', 'secondary');
    line-height: 1.2;
    text-align: start;

    flex-basis: 26rem;
    flex-grow: 1;
    max-inline-size: 40rem;

    span:nth-of-type(1) {
      font-size: 1.5rem;
    }

    span:nth-of-type(2) {
      display: block;

      font-size: #{utilities.clampRemap(
          (
            'minWidth': 320,
            'maxWidth': 640,
            'minSize': 32,
            'maxSize': 48,
          )
        )};

      margin-block-start: 1rem;
    }

    em {
      font-style: normal;
      text-decoration: underline;
      text-decoration-color: properties.get-value('base', 'color', 'brand-orange');
      text-decoration-thickness: 0.125em;
    }
  }

  .Intro {
    background-color: properties.get-value('base', 'color', 'secondary-2');

    font-size: #{utilities.clampRemap(
        (
          'minWidth': 320,
          'maxWidth': 640,
          'minSize': 16,
          'maxSize': 18.4,
        )
      )};

    padding-block: properties.get-value('base', 'spacing', 'xxxl', 'px');
  }

  .Cta {
    margin-block: calc(2 * properties.get-value('base', 'spacing', 'xxxl', 'px'));
    font-size: 1.5rem;

    p {
      margin-inline: auto;
      text-align: center;
    }

    a {
      @include properties.assign(
        ('element', 'a', 'textDecorationColor'),
        properties.get-value('base', 'color', 'brand-orange')
      );

      text-decoration-thickness: 0.125em;
    }
  }

  main {
    // Remove the default margin for the base layout.
    margin-block-end: 0;
  }
</style>
