---
import Link from './link.astro'
---

<footer class="footer">
  <div class="wrapper">
    <div class="links">
      <div class="SocialLinkList">
        <a href="https://github.com/jneander" data-icon="github">
          <span class="visually-hidden">GitHub</span>
        </a>

        <a href="https://masto.jln.io/@jeremy" rel="me" data-icon="mastodon">
          <span class="visually-hidden">Mastodon</span>
        </a>

        <a href="https://www.linkedin.com/in/jeremyneander" data-icon="linkedin">
          <span class="visually-hidden">Linkedin</span>
        </a>
      </div>

      <div class="SiteLinks">
        <Link href="/principles">Principles</Link>
        <Link href="/resume">Resume</Link>
      </div>
    </div>

    <p>© 2012–Present Jeremy Neander. All Rights Reserved.</p>
  </div>
</footer>

<style lang="scss">
  @use '../styles/properties';

  .footer {
    background-color: properties.get-value('base', 'color', 'brand-orange');

    font-size: properties.get-value('base', 'fontSize', 'small');
    text-align: center;

    margin-block-start: properties.get-value('base', 'spacing', 'xxxl', 'px');
    padding-inline: properties.get-value('base', 'spacing', 'm', 'px');
    padding-block: properties.get-value('base', 'spacing', 'l', 'px');
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: properties.get-value('base', 'spacing', 'm', 'rem');

    @media screen and (max-width: 320px) {
      justify-content: center;
    }
  }

  .SocialLinkList {
    display: flex;
    gap: properties.get-value('base', 'spacing', 's', 'em');
    flex-shrink: 0;

    [data-icon='github'] {
      --mask-image: url('../assets/icons/github.svg');
    }

    [data-icon='linkedin'] {
      --mask-image: url('../assets/icons/linkedin.svg');
    }

    [data-icon='mastodon'] {
      --mask-image: url('../assets/icons/mastodon.svg');
    }

    a {
      display: inline-flex;

      &::before {
        content: '';

        width: 1.5em;
        height: 1.5em;

        mask-image: var(--mask-image);
        mask-size: contain;

        background-color: currentColor;
        background-repeat: no-repeat;
      }
    }
  }

  .SiteLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: properties.get-value('base', 'spacing', 'xs', 'em')
      properties.get-value('base', 'spacing', 's', 'em');
  }

  p {
    margin-block-start: properties.get-value('base', 'spacing', 'xxl', 'px');
  }
</style>
