---
import type {HTMLAttributes} from 'astro/types'

const currentPath = Astro.url.pathname

interface Props extends HTMLAttributes<'a'> {}

const props = Astro.props

const regExp = new RegExp(`^\\${props.href}\/?$`)
if (regExp.test(currentPath)) {
  props['aria-current'] = 'page'
}
---

<a {...props}><slot /></a>
