---
import {getEntry, render} from 'astro:content'

import BaseLayout from '../../layouts/base-layout.astro'

const post = await getEntry('employers', 'avela')

if (post == null) {
  throw new Error('Employer with ID "avela" not found.')
}

const {Content} = await render(post)

const {name} = post.data
---

<BaseLayout title={name}>
  <main class="content-grid flow">
    <header class="flow">
      <h1>{name}</h1>
    </header>

    <Content />
  </main>
</BaseLayout>
