@use '../../../../styles/settings';

.WritingListItem {
  &:not(:last-child) {
    margin-block-end: var(--spacing-m-px);
    padding-block-end: var(--spacing-m-px);
    border-block-end: 1px solid settings.$light-gray;
  }

  .Title {
    display: block;
    font: settings.$header-font;
    font-size: 1.25em;
    font-weight: settings.$bold;
    margin-block-end: var(--spacing-xs-px);
  }

  .Date {
    display: block;
    font: settings.$header-font;
    font-size: 0.8em;
    margin-block-end: var(--spacing-s-px);
  }

  .Description {
    margin: 0;
  }
}
