@use 'settings';

.Resume {
  .Header {
    border-block-end: 1px solid settings.$border-medium;
    margin-block-end: var(--spacing-xl-px);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h1 {
      padding-block-end: var(--spacing-xs-rem);
      margin: 0;
    }
  }

  .DownloadLink {
    display: inline-flex;
  }

  .IconPdf {
    height: 1.5em;
    width: 1.5em;
  }
}
