@use 'settings';

.Post {
  margin: var(--spacing-m-px) auto;
  padding: var(--spacing-m-px) 0;
  max-width: settings.$content-slim;
  width: 90%;

  @media #{settings.$medium} {
    margin: var(--spacing-xxl-px) auto;
  }

  .Header {
    margin-block-end: var(--spacing-m-px);

    .PublishDate {
      font: settings.$header-font;
    }
  }

  .Pagination {
    --chevron-size: 0.4em;
    --chevron-thickness: 0.0875em;

    display: flex;
    margin-block-start: var(--spacing-xxl-px);

    .Previous:before,
    .Next:after {
      border-style: solid;
      border-width: var(--chevron-thickness) var(--chevron-thickness) 0 0;
      content: '';

      display: inline-flex;
      justify-items: start;

      transform: rotate(45deg);

      height: var(--chevron-size);
      width: var(--chevron-size);

      position: relative;
      top: -0.125em;

      margin-inline: 0.5em;
    }

    .Previous:before {
      transform: rotate(-135deg);
    }

    .Next {
      margin-inline-start: auto;
    }
  }
}
