@use '../../../../styles/settings';

.Main {
  display: grid;
  grid-template-columns: 1fr;
  margin: var(--spacing-xxl-px) auto;
  width: 90%;
  gap: var(--spacing-xl-px);

  @media (settings.$medium) {
    grid-template-columns: 1fr 2fr;
    max-width: 1050px;
  }
}

.Identity {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Avatar {
  --size: 186px;

  order: -1; // Avatar is visually first, but ordered after the heading.
  background-size: cover;
  border-radius: 50%;
  height: var(--size);
  margin: 0 auto;
  width: var(--size);
}

.Name {
  font-family: settings.$header-font-family;
  font-size: 1.12rem;
  margin-block-start: var(--spacing-l-px);
  text-transform: uppercase;
  font-weight: settings.$regular;
  margin-block-end: var(--spacing-s-px);
}

.SocialLinkList {
  font-size: 1rem;
}

.SocialLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 1.5rem;
  width: 1.5rem;

  margin-inline: var(--spacing-xxs-px);

  &:hover {
    color: settings.$secondary-color;
    text-decoration: none;
  }
}

.SocialLinkIcon {
  height: 1.25rem;
  width: 1.25rem;
}
