<h3><span class="role">Full-Stack Web & Mobile Developer</span> : <a href="https://www.axustravelapp.com">AXUS</a>, Traveler Itinerary Curation Tool</h3>

<p>
Maintained and further developed Clojure-based web application and API.
Integrated with travel industry booking databases. Refactored legacy Clojure
application with extensible architecture. Converted legacy ClojureScript library
to JavaScript. Integrated Android app with API while maintaining feature parity
with iOS app. Emphasized ease of maintenance and extension for current and
future team members.
</p>
