@use '../../../../styles/foundation/settings';

.Header {
  border-block-end: 1px solid settings.$border-medium;
  margin-block-end: var(--spacing-xl-px);
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1 {
    padding-block-end: var(--spacing-xs-rem);
    margin: 0;
  }
}

.DownloadLink {
  display: inline-flex;
}

.IconPdf {
  height: 1.5em;
  width: 1.5em;
}

.ResumeSection {
  margin-block-end: var(--spacing-xxl-px);

  & > *:not(:first-child) {
    margin-block-start: var(--spacing-m-px);
  }
}

.ResumeSectionHeading {
  margin-block-end: var(--spacing-l-px);
}

.ResumeSubsectionHeading {
  margin-block-end: var(--spacing-s-px);
}

.Chevron::before {
  --size: 0.4em;
  --thickness: 0.0875em;

  border-style: solid;
  border-width: var(--thickness) var(--thickness) 0 0;
  content: '';

  display: inline-flex;
  justify-items: start;

  transform: rotate(45deg);

  height: var(--size);
  width: var(--size);

  position: relative;
  top: -0.125em;

  margin-inline-start: 0.4em;
  margin-inline-end: 0.5em;
}
