---
permalink: "/resume/"
layout: default
group: resume
title: "Resume"
---

<div class="download-link">
  <a href="https://docs.google.com/document/d/1cqg0-HUyvZjlbWPhCrPQnshgXIGSMVolC3GCUhXAUZA/export?format=pdf">
    PDF<span class="download-text">
      <i class="fa fa-file-pdf-o download-icon"></i>
    </span>
  </a>
</div>

<section class="resume">
  <h1>Experience</h1>
  <header>
    <h2><a href="https://www.8thlight.com">8th Light</a> — Software Development Consultancy</h2>
    <span class="date-range">June, 2012 ~ February, 2016</span>
  </header>

  {% include _experience/blustor-gatekeeper.html %}
  {% include _experience/ideo-ojai.html %}
  {% include _experience/vushaper.html %}
  {% include _experience/axus.html %}
  {% include _experience/ncsa-recruitrms.html %}
  {% include _experience/groupon-unified-tool.html %}
  {% include _experience/groupon-sales-workbench.html %}
  {% include _experience/groupon-voucher-inventory.html %}
  {% include _experience/ideo-progenitor.html %}
  {% include _experience/ncsa-clientrms.html %}
  {% include _experience/groupon-aaa.html %}
  {% include _experience/csgi.html %}
</section>

<section class="resume">
  <h1>Traits</h1>
  <h2>Languages</h2>
  <span class="spacer"><i class="fa fa-angle-right"></i></span>
  <span>JavaScript, Java, Ruby, Clojure, C, Python, Go, Node.js</span>
  <h2>SDKs</h2>
  <span class="spacer"><i class="fa fa-angle-right"></i></span>
  <span>Android, Neurotechnology, BluStor GateKeeper, Rails, Sinatra</span>
  <h2>APIs</h2>
  <span class="spacer"><i class="fa fa-angle-right"></i></span>
  <span>Goodreads, Amazon (Product Advertising, S3), Plaid.io</span>
  <h2>Practices</h2>
  <span class="spacer"><i class="fa fa-angle-right"></i></span>
  <span>TDD/BDD, Clean Code, Agile</span>
</section>
