---
permalink: "/resume/"
layout: default
group: resume
title: "Resume"
---

<div class="download-link">
  <a href="https://docs.google.com/document/d/1SAU58e4Xm-hONomFHzZrFUEczRyqDfuB896gMhj-rkU/export?format=pdf">
    PDF
    <span class="download-text">
      <i class="fa fa-file-pdf-o download-icon"></i>
    </span>
  </a>
</div>

<section class="resume">
  <header>
    <h1>Experience</h1>
  </header>

  <section class="position">
    <header>
      <h2>
        <a href="https://www.instructure.com">Instructure</a> ~ Educational Technology Company
      </h2>
    </header>

    {% include experience/instructure/canvas-final-grade-override.html %}
    {% include experience/instructure/canvas-amm.html %}
    {% include experience/instructure/canvas-builds.html %}
    {% include experience/instructure/canvas-new-gradebook.html %}
    {% include experience/instructure/canvas-mgp.html %}
    {% include experience/instructure/instui.html %}
  </section>

  <section class="position">
    <header>
      <h2>
        <a href="https://www.8thlight.com">8th Light</a> ~ Software Development Consultancy
      </h2>
    </header>

    {% include experience/8th_light/blustor-gatekeeper.html %}
    {% include experience/8th_light/ideo-ojai.html %}
    {% include experience/8th_light/vushaper.html %}
    {% include experience/8th_light/axus.html %}
    {% include experience/8th_light/ncsa-recruitrms.html %}
    {% include experience/8th_light/groupon-unified-tool.html %}
    {% include experience/8th_light/groupon-sales-workbench.html %}
    {% include experience/8th_light/groupon-voucher-inventory.html %}
    {% include experience/8th_light/ideo-progenitor.html %}
    {% include experience/8th_light/ncsa-clientrms.html %}
    {% include experience/8th_light/groupon-aaa.html %}
    {% include experience/8th_light/csgi.html %}
  </section>
</section>

<section class="resume">
  {% include overview.html %}
</section>
