// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Header Font
$header-font-family: 'Lato', sans-serif;
$header-font: $regular 100% $header-font-family;

// Body Font
$body-font-family: 'Gentium Book Basic', 'Georgia', serif;
$body-font: $regular 112% $body-font-family;

// Colors
$primary-color: #776453;
$primary-accent: #fff8f1;
$secondary-color: #776453;
$secondary-accent: #776453;
$white: #ffffff;
$light-gray: #faf5f5;
$black: hsl(212, 9%, 32%);
$border-light: #eef2f5;
$border-medium: hsl(212, 10%, 90%);

// Grid
$content-width: 1050px;
$content-slim: 700px;
$header-width: 1400px;

// Medium screens
$medium: '(min-width: 40em)';

// Large screens
$large: '(min-width: 64em)';
